/* ALL CARDS */

/* .card:hover {
    box-shadow: 1px 1px 1px 2px rgba(184, 179, 179, 0.729);
} */

.onile-card {
    transition: all 0.3s;
}

.onile-card:hover {
    transform: scale(1.059);
    box-shadow: 1px 1px 1px 2px rgba(184, 179, 179, 0.729);
}


/* SEARCH OR CAROUSEL COMPONENT */

.carousel-img {
    object-fit: cover;
    width: 100%;
    height: 60vh;
}

.onile__search-container {
    width:40%;
    background: #0377B599;
}

.onile__search-container-heading h1 {
    font-family: var(--font-family);
    /* font-size: 4rem; */
    font-weight: 700;
}

.onile__search-container-heading p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 400;
}

/* .onile__search-form input {
    width: 20rem;
    height: 2.3rem;
    border: none;
    outline: none;
    background: var(--color-search);
    font-family: var(--font-family);

    font-size: 1.1rem;
    font-weight: 400;
    text-align: left;
} */

@media screen and (max-width: 1000px) {
    .onile__search-container {
        width:55%;
    }

    .onile__search-container h1 {
        font-family: var(--font-family);
        /* font-size: 2.5rem; */
        font-weight: 700;
    }

    .onile__search-container p {
        font-family: var(--font-family);
        font-size: 1rem;
        /* font-weight: 700; */
    }
}

@media screen and (max-width: 700px) {
    .onile__search-container {
        width: 75%;
        height: 90%;
    }

    .onile__search-container-heading h1 {
        font-family: var(--font-family);
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .onile__search-container-heading p {
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: 400;
    }
    
    /* .onile__search-form input {
        width: 100%;
        height: 2rem;    
        font-size: 0.58rem;
    } */

}

@media screen and (max-width: 390px) {
    .onile__search-container {
        width: 100%;
    }

    .onile__search-container-heading h1 {
        font-family: var(--font-family);
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .onile__search-container-heading p {
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: 400;
    } 
}

/* ADVERTISE COMPONENT */

.advert-text {
    font-family: Poor Richard;
    font-size: 4.25rem;
    line-height: 77px;
    text-align: left;
}

.advert-text span {
    font-family: Poor Richard;
    font-size: 5rem;
    line-height: 90px;
}

@media screen and (max-width: 1000px) {
    .advert-text {
        font-family: Poor Richard;
        font-size: 3rem;
        line-height: 77px;
        text-align: left;
    }
    
    .advert-text span {
        font-family: Poor Richard;
        font-size: 3.2rem;
        line-height: 90px;
    }
}

@media screen and (max-width: 700px) {
    .advert-text {
        font-family: Poor Richard;
        font-size: 3rem;
        line-height: 77px;
        text-align: left;
    }
    
    .advert-text span {
        font-family: Poor Richard;
        font-size: 3.2rem;
        line-height: 90px;
    }
}

#signup a {
    text-decoration: none;
    color: white;
}


/* PROPERTY */

#signup {
    border: 1px solid #fff;
    background-color: #0A13ED;
}

#signup:hover {
    background-color: #050aab;
    border: 1px solid grey;
}

.card-type {
    background: blue;
    color: #fff;
    font-style: var(--font-family);
    text-align: center;
    font-weight: normal;
    width: 5.5rem;
    margin-bottom: -1.5rem;
    padding: 0rem;
    z-index: 1;
}


/* FOOTER */

footer {
    padding-top: 0.1rem;
    padding-bottom: 3rem;
    background: #699BF74D;
    height: 100%;
}

.social {
    cursor: pointer;
}