* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.onile__property-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 1.5rem;
}

.property-items {
    padding: 1.5rem;
}

.onile__property-card {
    display: flex;
    flex-direction: row;
}


.onile__property-headings p {
    border: none;
    outline: none;
    background: #0A13EDB2;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.8rem;
    /* text-align: center; */
}

.onile__property-user_signup {
    width: 83rem;
    background: #0A13EDCF;
    color: var(--font-color);
    padding: 1rem;
}

.onile__property-user_signup p {
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

.onile__property-user_signup span {
    width: 211px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 0.3rem;
    cursor: pointer;
    background-color: #0A13ED;

    font-family: var(--font-family);
    /* font-size: 32px; */
    font-weight: 400;
    text-align: center;

}



/* Styling the House Components */
 
.onile__house {
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: ;
}

.onile__house-image img {
    width: 100%;
    border-radius: 5px;
}

.onile__house-items {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem;
}
