* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.onile__search {
    background-image: url('../../assets/ekiti_bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75vh;
}

.onile__search-container {
    background: #0377B599;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
}

.onile__search-container_heading h1,
.onile__search-container_heading p,
.onile__search-container_action-btn,
.onile__search-container_search {
    padding: 1rem;
    color: #fff;
    /* font-family: var(--font-family); */
}

.onile__search-container_heading h1 {
    font-family: var(--font-family);
    font-size: 4rem;
    font-weight: 700;
    /* line-height: 81px; */
}

.onile__search-container_heading p {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 400;
    /* line-height: 40px; */
    text-align: center;
}

.onile__search-container_action-btn button {
    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin: 2.5rem;
    background-color: var(--font-color);
    font-family: var(--font-family);
    color: #000;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

.onile__search-container_action-btn button:hover {
    background-color: rgb(180, 177, 177);
}

.onile__search-container_search input {
    width: 34rem;
    height: 3rem;
    margin: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background: var(--color-search);
    font-family: Outfit;

    font-size: 1.1rem;
    font-weight: 400;
    text-align: left;
}

.onile__search-container_search button {
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background: #0A13ED;
    color: #fff;
    font-family: Outfit;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 0.5rem;
}

