:root {
  --font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --color: rgba(0, 0, 0, 0.87);
  --color-bg: rgba(255, 255, 255, 0.067);
  --color-search:  #D9D9D9;
  --font-color: #FFFFFB;
}